
body {
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #eee;
}

.main {
	padding: 30px 0;
}


/* search results */

.search-results {
	padding: 0;
	margin: 0;
	list-style: none;
}

.search-results li {
	padding: 15px 10px;
	background-color: #444;
	border-bottom: 1px solid #666;
}

.search-results li.selected {
	border: 1px solid #f06;
}

.search-results li.odd {
	background-color: #555;
}

.search-results .title {
	display: inline-block;
	margin-right: 8px;
	font-weight: bold;
}

@media (min-width: 767px) {
  .search-results .title {
  	display: block;
  }
}

.search-results h2 {
	margin-top: 0;
	font-size: 16px;
}

.search-results .description {
	margin-bottom: 0;
	line-height: 30px;
}

.basket .search-results .row {
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.basket .search-results p.description{
		margin-bottom: 10px;
	}
}

.search-results .add-to-basket {
	margin-top: 15px;
	text-align: right;
}

@media (max-width: 767px) {
	.search-results .add-to-basket {
		text-align: left;
	}
}

.search-results .checkout-basket {
	margin-top: 15px;
}


/* search header */

.search-header {
	margin: 30px 0 15px;
}

@media (max-width: 767px) {
	.search-header{
		margin-top: 45px;
	}
}


.search-header .form-group {
	width: 100%;
}

.search-header .form-group .seach-filter {
	padding-right: 34px;
}

.search-header .has-success .form-control-feedback {
	color: #dd0f61;
}

.basket-status {
	position: relative;
	padding: 10px 10px 10px 50px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}

@media (max-width: 992px) {
  .basket-status {
  	margin-bottom: 20px; 
  }
}

.basket-status:before {
	position: absolute;
    top: 10px;
    left: 15px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    content: "\e116";
}

.basket-status h2 {
	margin: 0;
	font-size: 20px;
}

@media (max-width: ) {
  .basket-status h2 {
  	display: block;
  	margin-bottom: 10px; 
  }
}

.basket-status .checkout {
	position: absolute;
	top: -4px;
	right: 15px;
}

@media (max-width: 768px) {
  .basket-status .checkout {
  	position: static;
  	margin-top: 10px;
  }
}


.basket .user-details {
	margin: 50px 0;
}


.errorinput {
	background-color: pink;
} 

.error-message {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
	background-color: pink;
	color: #333;
}

.pointer {
	cursor: pointer;
	pointer-events: auto;
}


/**********************

Bootstrap overrides 

***********************/


a, a:hover, a:visited, a:active {
	color: #dd0f61;
}


/* tabs */

.nav-tabs > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
  	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
.nav-tabs > li > span:hover {
  	border-color: #eee #eee #ddd;
  	color: #555;
  	font-weight: normal;
}
.nav-tabs > li.active > span,
.nav-tabs > li.active > span:hover,
.nav-tabs > li.active > span:focus {
	 color: #555;
	 background-color: #fff;
	 border: 1px solid #ddd;
	 border-bottom-color: transparent;
	 font-weight: normal;
}


.nav-tabs > li > span:hover, 
.nav-tabs > li > span:focus {
	background-color: #fff;
}

/* buttons */

.btn-primary {
  background-image: -webkit-linear-gradient(top, #ff0099 0%, #dd0f61 100%);
  background-image:      -o-linear-gradient(top, #ff0099 0%, #dd0f61 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0099), to(#dd0f61));
  background-image:         linear-gradient(to bottom, #ff0099 0%, #dd0f61 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
  background-color: #c50f58;
  background-repeat: repeat-x;
  border-color: #c50f58;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c50f58;
  background-position: 0 -15px;
  border-color: #c50f58;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #c50f58;
  border-color: #c50f58;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #c50f58;
  background-image: none;
}
.btn-primary:active,
.btn-primary:visited {
	color: #fff;
}

.btn-default:hover,
.btn-default:focus {
	background-color: #f2f2f2;
}

.btn-default:active,
.btn-default:visited {
	color: #333;
}
/* pagintation */


.pagination > li > a,
.pagination > li > span {
  color: #333;
}
@media (max-width: 480px) {
  	.pagination > li > a,
	.pagination > li > span {
		padding: 6px 9px;
	}
}
.pagination > li > a:hover,
.pagination > li > span:hover{
  color: #333;
  background-color: pink;
  border-color: pink;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #dd0f61;
  border-color: #dd0f61;
}


