

<div class="basket">
	<h2>Checkout</h2>
	<ul class="search-results">
		<li ng-repeat="item in items | filter:{'status': 'selected'} as results" data-ng-class-odd="'odd'">
			<div class="row">
				<p class="col-sm-9 col-md-9 col-xs-12 description">
					{{ item.description }}
				</p>
				 <div class="col-sm-3 col-md-3 col-xs-12 text-right">
					<label for="addToBasket{{$index}}" class="sr-only">remove from basket</label>
					<button type="button" class="btn btn-primary btn-sm" data-ng-click="removeFromBasket(item)">
						Remove from basket
					</button>	
				</div>
			</div>
		</li>

	</ul>

	<div data-ng-if="results.length === 0">
		<div class="row">
			<div class="col-sm-9 col-md-9">
				<p>Your basket is empty</p>
			</div>
		</div>
	</div>

	<div data-ng-include src="'templates/form.html'" data-ng-if="results.length !== 0"></div>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<a href="/#/search" class="btn btn-default btn-sm">Back to search results</a>
		</div>
	</div>

</div>




