

<div class="user-details">
	<h3>Your details {{ test }}</h3>
	<p>Please fill out the details and submit.  All fields are required</p>

	<div class="row">
		<div class="col-md-8 col-md-offset-2" data-ng-if="submitted && checkoutForm.$invalid">
			<div class="error-message">
			<p data-ng-if="submitted && checkoutForm.inputFirstname.$invalid">First name is a required field.</p>
			<p data-ng-if="submitted && checkoutForm.inputLastname.$invalid">Last name is a required field.</p>
			<p data-ng-if="submitted && checkoutForm.email.$invalid">Email is a required field and needs to have a valid email format.</p>
			</div>

		</div>
	</div>

	<form class="form-horizontal checkoutForm" name="checkoutForm">
	  
	  <div class="form-group">
	    <label for="inputFirstname" class="col-sm-2 control-label">First name</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="inputFirstname" placeholder="First name" required data-ng-model="user.firstname" data-ng-class="{ errorinput: submitted && checkoutForm.inputFirstname.$invalid }" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputLastname" class="col-sm-2 control-label">Last name</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="inputLastname" placeholder="Last name" required data-ng-model="user.lastname" data-ng-class="{ errorinput: submitted && checkoutForm.inputLastname.$invalid }"  />
	    </div>
	  </div>


	  <div class="form-group">
	    <label for="email" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="email" placeholder="Email" required data-ng-model="user.email" data-ng-class="{ errorinput: submitted && checkoutForm.email.$invalid }"  data-ng-pattern="/\b[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,4}\b/"/>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="button" class="btn btn-primary" data-ng-click="validateForm(user, checkoutForm, results)" data-ng-disabled="validSubmit">Submit</button>
	    </div>
	  </div>
	</form>
</div>




