<div class="search-module">
	<h2>Chris Morgan's music collection</h2>
	<p></p>

	<div class="search-header">
	 	<div class="row">
	 		<div class="col-md-12">
	 			<div class="basket-status">
	 				<div class="row">
						<h2 class="col-xs-12 col-sm-9 col-md-9">You have {{ basketItems }} item<span data-ng-if="basketItems !==1">s</span> in your basket</h2>
						<div class="col-xs-12 col-sm-3 col-md-3">
							<a href="/#/basket" class="btn btn-primary btn-sm checkout" " data-ng-if="basketItems > 0">Go to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">	
	 		<div class="col-md-6 col-md-offset-6">
	 			<div class="form-group has-success has-feedback search">
		 			<label for="search" class="sr-only"></label>
		 			<input type="search" id="search" class="form-control search-filter" placeholder="Search {{format}}s" ng-model="query" />
		 			<span class="glyphicon glyphicon-search form-control-feedback" data-ng-if="query.length === 0 || query === undefined" aria-hidden="true"></span>
		 			<span class="glyphicon glyphicon-remove form-control-feedback pointer" data-ng-if="query.length > 0" aria-hidden="true" data-ng-click="clearFilter()" title="Clear search"></span>
		 		</div>
	 		</div>
	 	</div>
	</div>
	<ul class="nav nav-tabs">
		  <li role="presentation" data-ng-class="{ active: format === 'CD' }" data-ng-click="loadFormat('CD')"><span>CDs</span></li>
		  <li role="presentation" data-ng-class="{ active: format === 'record' }" data-ng-click="loadFormat('record')"><span>Records</span></li>
		</ul>
	<ul class="search-results">
		<li dir-paginate="item in items | filter:format | filter:query | filter:{'status': '!reserved'} | orderBy: 'composer' | itemsPerPage: 15 track by $index" data-ng-class-odd="'odd'" data-ng-class="{selected: item.status === 'selected'}">
			<div class="row">
				<h2 class="col-md-12">
					{{ item.description }}
				</h2>
				<div class="col-xs-12 col-sm-4 col-md-4" data-ng-if="item.genre === 'classical'">
					<span class="title">Composer: </span> {{ item.composer }}
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4" data-ng-if="item.genre === 'classical' && item.conductor.length > 0">
					<span class="title">Conductor: </span> {{ item.conductor }}
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4" data-ng-if="item.genre === 'classical' && item.orchestra.length > 0">
					<span class="title">Orchestra: </span> {{ item.orchestra }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 checkout-basket">
				<a href="/#/basket" class="btn btn-default btn-sm" data-ng-if="item.status === 'selected'">Checkout basket</a>
				</div>
				
				 <div class="col-md-6 col-sm-6 col-xs-12 add-to-basket clearfix">
					<label for="addToBasket{{$index}}" class="sr-only">Add to basket</label>
					<button type="button" class="btn btn-primary btn-sm" data-ng-click="addToBasket(item)">
						<span data-ng-if="item.status === 'available'">Add to basket</span>
						<span data-ng-if="item.status === 'selected'">Remove from basket</span>
					</button>	
				</div>
			</div>
		</li>

	</ul>

</div>
<div class="text-center">
	<dir-pagination-controls boundary-links="false" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
</div>