

<div class="basket">
	<h2>Thank you</h2>

	<p>Your details have been submitted and you will receive a confirmation email and we can then arrange how best to get your items to you.</p>


	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<a href="/#/search" class="btn btn-default btn-sm">Back to search results</a>
		</div>
	</div>

</div>




